.button {
  margin-top: 15px;
  width: 290px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--enabled-button);
  color: #FFFFFF;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 12px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &:hover {
    background-color: var(--button-enabled-hover);
  }
}

.disabled-true {
  background-color: var(--disabled-button);
  border: 1px solid var(--disabled-button);
  cursor: not-allowed;

  &:hover {
    background-color: var(--disabled-button);
  }
}

@media (min-width: 1050px) and (max-width: 1150px) {
  .button {
    width: 90%;
    height: 25px;
    margin-top: 10px;
  }
}

@media (min-width: 500px) and (max-width: 1050px) {
  .button {
    width: 90%;
    height: 25px;
    margin-bottom: 15px;
  }
}