* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #191920;
  --card-background: #FFFFFF;
  --white: #FFFFFF;
  --enabled-button: #191920;
  --disabled-button: #8C8C8F;
  --button-enabled-hover: #191920df;
}

body, button {
  font: 400 1rem "Roboto", sans-serif;
}

body {
  background: var(--background);
}

button {
  cursor: pointer;
}