.container {
  display: flex;
  width: 80%;
  max-width: 1023px;
  height: auto;
  justify-content: center;
  
  margin: 0 auto;
}

.nftsContainer {
  display: flex;
  width: 100%;
  max-width: 1023px;
  flex-direction: column;
  justify-content: space-between;
}

.walletContainer {
  display: flex;
  width: 1023px;
  margin-top: 31px;
  justify-content: space-between;
}

@media (max-width: 1120px) {
  .walletContainer {
    flex-direction: column-reverse;
    align-items: center;
    align-content: space-around;
  }

  .nftsContainer {
    margin-top: 20px;
    align-items: center;
  }
}