.container {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
}

.nftsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.walletContainer {
  display: flex;
  width: 1023px;
  margin-top: 31px;
  justify-content: space-between;
}